* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
html {
    font-size: 100%;
}
body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/la-bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
}
main > div {
    width: 50%;
    height: 100%;
}
.main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, transparent 50%, red 50%);
}
.main-right {
    background: #fff;
}
.prof-image {
    width: 50%;
    height: 50%;
    background: #fff;
}
[src="images/profile-image.jpg"] {
    width: 100%;
    height: 100%;
}
.logo-cont {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
}
.logo-cont label {
    font: 700 3rem/88px 'Kaushan Script', cursive;
    padding-left: 15%;
    color: #fff;
}
.logo-cont label span {
    color: rgb(223, 66, 68);
}
.media {
    position: absolute;
    width: 30%;
    height: 7%;
    bottom: 15%;
    display: flex;
    justify-content: space-evenly;
}
.media > div {
    width: 23%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media > div:nth-child(1):hover, .media > div:nth-child(2):hover {
    border: 1px solid #fff;
}
.media > div:nth-child(3):hover, .media > div:nth-child(4):hover{
    border: 1px solid #222;
}
.media > div > i {
    font-size: 1.7rem;
}
.media > div:nth-child(1) > i, .media > div:nth-child(2) > i {
    color: #fff;
}
.media > div:nth-child(3) > i, .media > div:nth-child(4) > i {
    color: #222;
}
.info-cont {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.info-cont > div:nth-child(1) {
    font-size: 2.5rem;
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
    line-height: 60px;
}
.info-cont > div:nth-child(2) {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
}
.info-cont > div:nth-child(3) > button {
    margin: 1em 0;
    font-size: 1rem;
    width: 140px;
    padding: .7em;
    cursor: pointer;
    background: rgb(223, 66, 68);
    border: 0;
    outline: 0;
    color: #fff;
    transition: .2s;
}
.info-cont > div:nth-child(3) > button:hover {
    background: transparent;
    outline: 2px solid rgb(223, 66, 68);
    color: #000;
}
.info-cont > div:nth-child(3) > button:last-child {
    padding: .7em 1.5em;
    margin-left: .5em;
}
.about {
    width: 100%;
    height: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-cont {
    width: 70%;
}
.about-cont > p {
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}
.skill {
    width: 100%;
    background: #fff;
    padding: 4em;
}
.skill-cont {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
.skill-cont > div:first-child {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: column;
}
.skill-cont > div:last-child {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.skill-cont > div:first-child > div {
    width: 100%;
    height: 50%;
}
.skill-cont > div:first-child > div:first-child {
    font: 700 1.7rem/100px 'Poppins', sans-serif;
    text-align: center;
}
.skill-cont > div:first-child > div:last-child {
    font: 1rem 'Poppins', sans-serif; 
    text-align: center;
}
.skill-cont > div:last-child > div {
    width: 31%;
    height: 85%;
    border: 1px solid rgba(0,0,0,.2);
}
.skill-logo {
    width: 65px;
    height: 65px;
    position: absolute;
    top: -.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgb(245, 83, 86);
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-logo > i {
    font-size: 1.7rem;
    color: #fff;
}
.skill-logo + p {
    margin-top: 2.5em;
    text-align: center;
}
.skill-logo ~ p {
    margin-bottom: 1em;
    font-size: 1rem;
    color: rgba(0,0,0,.8);
}
.skill-logo ~ p > i {
    color: rgb(245, 83, 86);
    padding-left: 1em;
}
.project {
    width: 100%;
    height: 100%;
    background: #fff;
}
.project-cont {
    width: 80%;
    height: 100%;
    margin: auto;
}
.project-cont > div:first-child {
    width: 100%;
    height: 70px;
    font: 700 1.7rem 'Poppins', sans-serif;
    text-align: center;
}
.project-cont > div:last-child {
    width: 100%;
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-cont > div:last-child > div {
    width: 31%;
    height: 48%;
}
.proj-img {
    width: 100%;
    height: 85%;
    overflow: hidden;
    cursor: pointer;
} 
.proj-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.proj-info {
    width: 100%;
    height: 15%;
    text-align: center;
    line-height: 40px;
    color: rgb(223, 66, 68);
} 
.overlay {
    position: absolute;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    transition: .3s;
    overflow: hidden;
}
.overlay > div {
    position: absolute;
    right: 2%;
    height: 100%;
}
.overlay > div > div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: .2em;
}
.overlay > div > div:hover {
    opacity: .7;
}
.overlay > div > div:first-child {
    background: rgb(233, 65, 65);
}
.overlay > div > div:last-child {
    background: rgb(247, 184, 68);
}
.proj-img:hover .overlay {
    height: 23px;
}
.proj-img:hover img {
    opacity: .8;
}











@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        height: 105%;
    }
    main > div {
        width: 100%;
    }
    .main-left {
        background: #222;
        height: 700px;
    }
    .logo-cont {
        text-align: center;
    }
    .logo-cont label {
        padding: 0;
        line-height: 60px;
    }
    .prof-image {
        width: 250px;
        min-width: 250px;
        height: 65%;
    }
    .media {
        bottom: 3%;
        width: 50%;
        height: 15%;
    }
    .media > div:nth-child(3) > i, .media > div:nth-child(4) > i {
        color: #fff;
    }
    .media > div:nth-child(1):hover, .media > div:nth-child(2):hover {
        border: 0;
    }
    .media > div:nth-child(3):hover, .media > div:nth-child(4):hover{
        border: 0;
    }
    .info-cont {
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .info-cont > div:nth-child(1), .info-cont > div:nth-child(3){
        text-align: center;
    }
    .info-cont > div:nth-child(2) {
        text-align: justify;
        padding: .5em;
    }
    .main-right {
        height: 700px;
    }

    .about {
        background-size: content;
        height: 30%;
    }
    .about-cont {
        width: 95%;
    }
    .about-cont > p {
        font-size: .9rem;
        line-height: 30px;
    }
    .skill {
        padding: 0;
        height: 150%;
    }
    .skill-cont {
        width: 90%;
    }
    .skill-cont > div:first-child > div:first-child {
        font-size: 1.5rem;
    }
    .skill-cont > div:first-child > div:last-child {
        font-size: .9rem;
        text-align: justify;
    }
    .skill-cont > div:last-child{
        flex-direction: column;
        height: 80%;
    }
    .skill-cont > div:last-child > div:nth-child(1) {
        margin-top: 2.8em;
    }
    .skill-cont > div:last-child > div {
        width: 70%;
        margin:  1.5em auto;
    }

}
@media only screen and (min-width: 600px) {
    main {
        flex-direction: column;
        height: 115%;
    }
    main > div {
        width: 100%;
    }
    .main-left {
        background: #222;
        height: 700px;
    }
    .logo-cont {
        text-align: center;
    }
    .logo-cont label {
        padding: 0;
        line-height: 60px;
    }
    .prof-image {
        width: 350px;
        height: 60%;
    }
    .media {
        bottom: 3%;
        width: 50%;
        height: 15%;
    }
    .media > div:nth-child(3) > i, .media > div:nth-child(4) > i {
        color: #fff;
    }
    .media > div:nth-child(1):hover, .media > div:nth-child(2):hover {
        border: 0;
    }
    .media > div:nth-child(3):hover, .media > div:nth-child(4):hover{
        border: 0;
    }
    .info-cont {
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .info-cont > div:nth-child(1), .info-cont > div:nth-child(3){
        text-align: center;
    }
    .info-cont > div:nth-child(2) {
        text-align: justify;
        padding: .5em;
    }
    .main-right {
        height: 550px;
    }

    .about {
        background-size: content;
        height: 25%;
    }
    .about-cont > p {
        font-size: .8rem;
        line-height: 25px;
    }
    .skill {
        padding: 0;
        height: 150%;
    }
    .skill-cont {
        width: 90%;
    }
    .skill-cont > div:first-child > div:first-child {
        font-size: 1.5rem;
    }
    .skill-cont > div:first-child > div:last-child {
        font-size: .9rem;
        text-align: justify;
    }
    .skill-cont > div:last-child{
        flex-direction: column;
        height: 80%;
    }
    .skill-cont > div:last-child > div:nth-child(1) {
        margin-top: 2.8em;
    }
    .skill-cont > div:last-child > div {
        width: 70%;
        margin:  1.5em auto;
    }
    .skill-logo + p ~ p {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
        height: 500px;
    }
    main > div {
        width: 100%;
    }
    .main-left {
        background: linear-gradient(to right, transparent 50%, #fff 50%);
        height: 100%;
    }
    .logo-cont {
        text-align: left;
    }
    .logo-cont label {
        padding-left: 15%;
        line-height: 88px;
    }
    .prof-image {
        max-width: 250px;
        height: 47%;
    }
    .media {
        bottom: 7%;
        width: 35%;
        height: 9%;
    }
    .media > div:nth-child(1) > i, .media > div:nth-child(2) > i {
        color: #fff;
    }
    .media > div:nth-child(3) > i, .media > div:nth-child(4) > i {
        color: #222;
    }
    .media > div:nth-child(1):hover, .media > div:nth-child(2):hover {
        border: 1px solid #fff;
    }
    .media > div:nth-child(3):hover, .media > div:nth-child(4):hover{
        border: 1px solid #222;
    }
    .info-cont {
        width: 80%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .info-cont > div:nth-child(1), .info-cont > div:nth-child(3){
        text-align: center;
    }
    .info-cont > div:nth-child(2) {
        text-align: justify;
        padding: .5em;
    }
    .main-right {
        height: 100%;
    }
    .about {
        background-size: content;
        height: 25%;
    }
    .about-cont > p {
        font-size: .8rem;
        line-height: 25px;
    }
    .skill {
        padding: 1em;
        height: 80%;
    }
    .skill-cont {
        width: 95%;
    }
    .skill-cont > div:first-child > div:first-child {
        font-size: 1.7rem;
    }
    .skill-cont > div:first-child > div:last-child {
        font-size: 1rem;
        text-align: center;
    }
    .skill-cont > div:last-child{
        height: 350px;
        flex-direction: row;
    }
    .skill-cont > div:last-child > div {
        width: 31%;
    }
}
@media only screen and (min-width: 992px) {
    main {
        flex-direction: row;
        height: 100%;
    }
    main > div {
        width: 100%;
    }
    .main-left {
        height: 100%;
    }
    .logo-cont {
        text-align: left;
    }
    .logo-cont label {
        padding-left: 15%;
        line-height: 88px;
    }
    .prof-image {
        max-width: 300px;
        height: 40%;
    }
    .media {
        bottom: 17%;
        width: 35%;
        height: 7%;
    }
    .media > div:nth-child(1) > i, .media > div:nth-child(2) > i {
        color: #fff;
    }
    .media > div:nth-child(3) > i, .media > div:nth-child(4) > i {
        color: #222;
    }
    .media > div:nth-child(1):hover, .media > div:nth-child(2):hover {
        border: 1px solid #fff;
    }
    .media > div:nth-child(3):hover, .media > div:nth-child(4):hover{
        border: 1px solid #222;
    }
    .info-cont {
        width: 80%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .info-cont > div:nth-child(1), .info-cont > div:nth-child(3){
        text-align: center;
    }
    .info-cont > div:nth-child(2) {
        text-align: justify;
        padding: .5em;
    }
    .main-right {
        height: 100%;
    }
    .about {
        background-size: content;
        height: 25%;
    }
    .about-cont > p {
        font-size: .8rem;
        line-height: 25px;
    }
    .skill {
        padding: 2em;
        height: 80%;
    }
}
@media only screen and (min-width: 1200px) {
    main {
        flex-direction: row;
        height: 100%;
    }
    main > div {
        width: 100%;
    }
    .main-left {
        height: 100%;
    }
    .logo-cont {
        text-align: left;
    }
    .logo-cont label {
        padding-left: 15%;
        line-height: 88px;
    }
    .prof-image {
        max-width: 300px;
        height: 45%;
    }
    .media {
        bottom: 17%;
        width: 32%;
        height: 8%;
    }
    .media > div:nth-child(1) > i, .media > div:nth-child(2) > i {
        color: #fff;
    }
    .media > div:nth-child(3) > i, .media > div:nth-child(4) > i {
        color: #222;
    }
    .media > div:nth-child(1):hover, .media > div:nth-child(2):hover {
        border: 1px solid #fff;
    }
    .media > div:nth-child(3):hover, .media > div:nth-child(4):hover{
        border: 1px solid #222;
    }
    .info-cont {
        width: 80%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .info-cont > div:nth-child(1) {
        font-size: 2.5rem
    }
    .info-cont > div:nth-child(1), .info-cont > div:nth-child(3){
        text-align: center;
    }
    .info-cont > div:nth-child(2) {
        text-align: justify;
        padding: .5em;
        font-size: 1rem;
    }
    .main-right {
        height: 100%;
    }
    .about {
        background-size: content;
        height: 25%;
    }
    .about-cont > p {
        font-size: .8rem;
        line-height: 25px;
    }
    .skill {
        padding: 4em;
        height: 100%;
    }
    .skill-cont {
        width: 70%;
    }
}